@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --bg-color: #09090A;
    --first-color: #8B5CF6;
    --white: #ffffff;
    --bg-box: #18181b;
    --border-box-calor: #27272a;
    --color-date: #A1A1AA;
}

body {
    background-color: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    background-color: var(--bg-color);
}

header > img {
    width: 150px;
}

button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 24px;
    border: 1px solid var(--first-color);
    border-radius: 10px;
    background-color: transparent;
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    padding: 180px 48px 48px;
    width: fit-content;
}

.habits {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 50px;
}

.habit {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.days {
    display: flex;
    gap: 24px;
}

.day {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: column;
    font-weight: 600;
    color: var(--color-date);
}

.day input {
    appearance: none;
    -webkit-appearance: none;
    width: 64px;
    height: 64px;
    border: 1px solid var(--border-box-calor);
    border-radius: 10px;
    background: var(--bg-box);
}

input:checked {
    background: var(--first-color);
}

@media (max-width: 570px) {
    header button div {
        display: none;
    }
}